/* Whole site  */

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cl-background: hsl(0, 0%, 100%);
    --cl-black: hsl(0, 0%, 0%);
    --cl-light: hsl(90, 17%, 98%);
    --cl-dark: hsl(215, 28%, 17%);
    --cl-accent: hsl(217, 91%, 59%);

    --ff-main: 'Roboto';
    --ff-fallback: sans-serif;
}

body {
    font-family: var(--ff-main), var(--ff-fallback);
    font-weight: 300;
}

/* Natigation  */

header {
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    background-color: var(--cl-dark);
    color: var(--cl-background);
}

header h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.rem;
}

/* Section One  */

#section-one {
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--cl-dark);
    color: var(--cl-background);
}

#section-one h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--cl-light);
}

.section-one-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.button-header {
    width: 50%;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--cl-light);
    background-color: var(--cl-accent);
    border-radius: 0.3rem;
}

/* Section two  */

#section-two {
    padding: 4rem 8rem;
}

#section-two h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.cards {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

figure figcaption {
    width: 200px;
    text-align: center;
}

figure img {
    border: 0.3rem solid var(--cl-accent);
    border-radius: 1rem;
    object-fit: cover;
    height: 12rem;
    width: 12rem;
}

/* Section three  */

#section-three {
    padding: 8rem 8rem;
    background-color: var(--cl-light);
}

#section-three h2 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

#section-three p {
    text-align: right;
    font-weight: 700;
}

/* Section four */

#section-four {
    padding: 2rem 8rem;
}

.action {
    margin: 4rem auto;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--cl-accent);
    color: var(--cl-background);
    border-radius: 0.5rem;
}

.button-action {
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--cl-light);
    border: 0.2rem solid var(--cl-light);
    border-radius: 0.3rem;
}