/* Whole site  */

* {
    padding: 0px;
    margin: 0px;
}


:root {
    --cl-white: hsl(0, 0%, 100%);
    --cl-black: hsl(0, 0%, 0%);
    --cl-dark-grey-blue: #1f2937;
    --cl-dark-blue: #1f2937;
    --cl-mid-blue: #3780f6;
    --cl-light-blue: #e5e7eb;
    --cl-light-lime: #f9faf8;

    --cl-background: var(--cl-white);
    --cl-foreground: var(--cl-black);
    --cl-light-text: var(--cl-light-blue);
    --cl-dark-text: var(--cl-dark-grey-blue);
    --cl-background-accent: var(--cl-light-grey);
    --cl-foreground-accent: var(--cl-dark-blue);
    --cl-accent: var(--cl-mid-blue);
    --cl-light-accent: var(--cl-light-lime);

    --ff-main: 'Roboto';
    --ff-fallback: sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --cl-background: var(--cl-black);
        --cl-foreground: var(--cl-white);
        --cl-background-accent: var(--cl-dark-blue);
        --cl-foreground-accent: var(--cl-dark-blue);
        --cl-accent: var(--cl-mid-blue);
    }
}

body {
    font-family: var(--ff-main), var(--ff-fallback);
    font-weight: 300;
    color: var(--cl-foreground);
}

section {
    padding: 4rem;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--cl-light-grey);
}

h2 {
    font-size: 2.25rem;
    font-weight: 900;
    color: var(--cl-foreground);
}

header {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    background-color: var(--cl-foreground-accent);
    color: #1f2937;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

nav > a:first-of-type {
    margin-right: auto !important;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cl-light-accent);
}

nav a {
    position: relative;
    margin: auto 0rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cl-light-text);
}

nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1rem;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    background-color: var(--cl-white);
    transform: scaleX(0);
    transition: transform 400ms;
}

a:hover::after {
    transform: scaleX(1);
    transition: transform 200ms;
}

section:nth-of-type(1) {
    background-color: var(--cl-foreground-accent);
    color: var(--cl-light-text);
}

#hero {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.max-width-wrapper {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

/**/

#section-one h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--cl-white);
}

.section-one-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.button-header {
    width: 50%;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--cl-background-accent);
    background-color: var(--cl-accent);
    border-radius: 0.3rem;
}

/* Section two  */

#section-two {
    padding: 4rem 8rem;
    background-color: var(--cl-background);
}

#section-two h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.cards {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

figcaption {
    width: 200px;
    text-align: center;
}

figure img {
    border: 0.3rem solid var(--cl-accent);
    border-radius: 1rem;
    object-fit: cover;
    height: 12rem;
    width: 12rem;
}

/* Section three  */

#section-three {
    padding: 8rem 8rem;
    background-color: var(--cl-background-accent);
}

#section-three h2 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

#section-three p {
    text-align: right;
    font-weight: 700;
}

/* Section four */

#section-four {
    padding: 2rem 8rem;
    background-color: var(--cl-background);
}

.action {
    margin: 4rem auto;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--cl-accent);
    color: var(--cl-background);
    border-radius: 0.5rem;
}

.button-action {
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--cl-background-accent);
    border: 0.2rem solid var(--cl-background-accent);
    border-radius: 0.3rem;
}